<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Crear Evento</title>
    <link rel="stylesheet" href="{% static 'css/eventos/agregar_evento.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="{% url 'gestionar_eventos' %}">Volver a Gestión</a>
            <a href="{% url 'logout' %}">Cerrar Sesión</a>
        </nav>
    </header>
    <main>
        <h1>Crear Evento</h1>
        <form method="post">
            {% csrf_token %}
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" value="{{ evento.nombre }}" required>
            
            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" required>{{ evento.descripcion }}</textarea>

            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" value="{{ evento.fecha }}" required>

            <label for="hora">Hora:</label>
            <input type="time" id="hora" name="hora" value="{{ evento.hora }}" required>

            <label for="lugar">Lugar:</label>
            <input type="text" id="lugar" name="lugar" value="{{ evento.lugar }}" required>

            <button type="submit" class="btn">Guardar</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2024 Jardín Infantil y Guardería</p>
    </footer>
</body>
</html>
