<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Gestionar Eventos</title>
    <link rel="stylesheet" href="{% static 'css/eventos/gestionar_eventos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="{% url 'pagina_administrador' %}">Volver al Dashboard</a>
            <a href="{% url 'logout' %}">Cerrar Sesión</a>
        </nav>
    </header>
    <main>
        <h1>Gestión de Eventos</h1>
        <div class="actions">
            <a href="{% url 'agregar_evento' %}" class="btn btn-primary">Crear Evento</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Lugar</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for evento in eventos %}
                <tr>
                    <td>{{ evento.id }}</td>
                    <td>{{ evento.nombre }}</td>
                    <td>{{ evento.descripcion }}</td>
                    <td>{{ evento.fecha }}</td>
                    <td>{{ evento.hora }}</td>
                    <td>{{ evento.lugar }}</td>
                    <td>
                        <a href="{% url 'editar_evento' evento.id %}" class="btn btn-edit"> <i class="fa fa-edit"></i> </a>
                        <a href="{% url 'eliminar_evento' evento.id %}" class="btn btn-delete" onclick="return confirm('¿Estás seguro de eliminar este evento?');"><i class="fa fa-trash"></i> </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7">No hay eventos registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer>
        <p>&copy; 2024 Jardín Infantil y Guardería</p>
    </footer>
</body>
</html>
