<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Enviar Mensaje</title>
    <link rel="stylesheet" href="{% static 'css/apoderado_vista/enviar_mensaje.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="{% url 'ver_mensajes_apoderado' %}">⬅ Volver a Mensajes</a>
            <a href="{% url 'logout' %}">Cerrar Sesión</a>
        </nav>
    </header>
    <main>
        <h1>Enviar Mensaje</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="mensaje">Mensaje</label>
                <textarea name="mensaje" id="mensaje" rows="5" placeholder="Escribe tu mensaje aquí..." required></textarea>
            </div>
            <button type="submit" class="btn btn-submit">Enviar</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2024 Jardín Infantil y Guardería</p>
    </footer>
</body>
</html>
