<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Agregar/Editar Útil{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/utiles/editar_util.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="{% url 'gestionar_utiles' %}">Volver a Gestión</a>
            <a href="{% url 'logout' %}">Cerrar Sesión</a>
        </nav>
    </header>
    <main>
        <h1>{% if util %}Editar Útil{% else %}Agregar Útil{% endif %}</h1>
        <form method="post">
            {% csrf_token %}
            <label for="nombre">Nombre del Útil:</label>
            <input type="text" id="nombre" name="nombre" value="{{ util.nombre|default_if_none:'' }}" required>

            <label for="cantidad">Cantidad:</label>
            <input type="number" id="cantidad" name="cantidad" value="{{ util.cantidad|default_if_none:1 }}" required>

            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion">{{ util.descripcion|default_if_none:'' }}</textarea>

            <button type="submit" class="btn btn-add">{% if util %}Actualizar{% else %}Agregar{% endif %}</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2024 Jardín Infantil y Guardería</p>
    </footer>
</body>
</html>
