<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <title>Gestión de Niños</title>
    <link rel="stylesheet" href="{% static 'css/ninos/gestionar_ninos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <!-- Navbar -->
    <header>
        <nav class="navbar">
            <a href="{% url 'pagina_administrador' %}">Dashboard Admin</a>
            <a href="{% url 'logout' %}">Cerrar Sesión</a>
        </nav>
    </header>

    <main>
        <h1>Gestión de Niños</h1>
        <div class="actions">
            <a href="{% url 'agregar_niño' %}" class="btn btn-primary">Agregar Niño</a>
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>RUT</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Sexo</th>
                    <th>Apoderado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for niño in niños %}
                <tr>
                    <td>{{ niño.id }}</td>
                    <td>{{ niño.nombre }}</td>
                    <td>{{ niño.apellido_paterno }}</td>
                    <td>{{ niño.apellido_materno }}</td>
                    <td>{{ niño.rut }}</td>
                    <td>{{ niño.fecha_nacimiento }}</td>
                    <td>{{ niño.sexo }}</td>
                    <td>{{ niño.apoderado.nombre }} {{ niño.apoderado.apellido_paterno }}</td>
                    <td>
                        <div class="table-actions">
                            <a href="{% url 'editar_niño' niño.id %}" class="btn btn-edit"> <i class="fa fa-edit"></i> </a>
                            <a href="{% url 'eliminar_niño' niño.id %}" class="btn btn-delete" onclick="return confirm('¿Seguro que deseas eliminar este niño?');"><i class="fa fa-trash"></i> </a>
                        </div>
                    </td>                                
                </tr>
                {% empty %}
                <tr>
                    <td colspan="9">No hay niños registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Jardín Infantil y Guardería</p>
    </footer>
</body>
</html>
